/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: "wght"  var(--main-font-weight);
  background-color: var(--background-color);
  color: var(--font-color);
  background-attachment: fixed;
  background-size: cover;
}

.header {
  min-height: 364px;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 136px;
  margin-bottom: 102px;
  width: 100%;
  max-width: 696px;
  margin: 102px 372px 103px 372px;
}

.header__title {
  font-family: var(--accent-font);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: var(--main-font-weight);
  text-transform: uppercase;
}

.header__subtitle {
  font-family: var(--accent-font);
  font-weight: var(--main-font-weight);
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  padding-bottom: 5px;
}

.theme-menu__button {
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  line-height: 14px;
  position: relative;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 19px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 45px;
  margin-left: 372px;
  margin-right: 372px;
}

.cards {
  border: 2px solid #000;
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 959px; 
}

.header__card {
  font-size: var(--card-font-size);
  font-weight: var(--accent-font-weight);
  line-height: 22px;
  min-height: 33px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom: 2px solid #000;
}

.card__opinion {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 25px;
  font-size: var(--card-font-size);
  font-family: var(--main-font);
  line-height: 21px;
  font-weight: var(--main-font-weight);
}

.image {
  width: 100%;
  object-fit: cover;
}

.image__card {
  position: relative;
  width: 100%;
  border-bottom: 2px solid #000;
  display: flex;
  /* overflow: hidden; */
}

.label {
  position: absolute;
  font-family: var(--accent-font);
  color: #000;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  font-size: 14px;
}

@supports((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .label {
      -webkit-text-stroke: 1px #fff;
      text-stroke: 1px #fff;
  }
} 

.card__icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.card__like-button {
  cursor: pointer;
}

.sparks {
  opacity: 0;
}

.icon-heart__container {
  display: flex;
  justify-content: end;
  padding-right: 23px;
  padding-bottom: 25px;
}

.card__like-button {
  background: none;
  border: 2px solid #000;
  width: 130px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__text {
  font-family: var(--accent-font);
  text-transform: capitalize;
}

.like-icon {
  margin-top: 2px;
}



