/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), "Inter", sans-serif;
  font-variation-settings: "wght" var(--main-font-weight);
  background-color: var(--background-color);
  color: var(--font-color);
  background-attachment: fixed;
  background-size: cover;
  background-image: var(--background-image);
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.header {
  border: 2px solid var(--border-blocks);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: var(--background-color-blocks);
  padding-block-start: clamp(7.5rem, 7.148rem + 1.502vw, 8.5rem);
  margin-block-end: 100px;
  padding-inline: clamp(0.875rem, -1.469rem + 10vw, 7.531rem);
}

.header__title {
  font-family: var(--accent-font), fantasy;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: var(--main-font-weight);
  text-transform: uppercase;
  text-decoration: none;
}

.header__subtitle {
  font-family: var(--accent-font), fantasy;
  font-weight: var(--main-font-weight);
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  padding-bottom: 5px;
}

.theme-menu__button {
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  line-height: 14px;
  position: relative;
  cursor: pointer;
  transition: opasity 0.3s ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  width: 100%;
}

.theme-menu__button::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  background-color: var(--border-blocks);
  transition: transform 0.3s ease;
  transform-origin: left;
  width: 0%;
  bottom: -3px;
  left: 6px;
  transform: scaleX(0);
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  position: absolute;
  content: "▶";
  left: -14px;
  top: 0;
  animation: button 0.5s ease-in-out infinite alternate;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 19px;
  padding-bottom: 25px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 45px;
  align-items: center;
  max-width: 696px;
}

.cards {
  border: 2px solid var(--border-blocks);
  font-family: var(--main-font), "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-blocks);
}

.header__card {
  font-size: var(--card-font-size);
  font-weight: var(--accent-font-weight);
  line-height: 21.78px;
  padding-left: 7px;
  padding-top: 5px;
  padding-bottom: 3px;
  border-bottom: 2px solid var(--border-blocks);
}

.card__opinion {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 25px;
  font-size: var(--card-font-size);
  font-family: var(--main-font), "Inter", sans-serif;
  line-height: 21px;
  font-weight: var(--main-font-weight);
}

.image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.image__card {
  position: relative;
  width: 100%;
  border-bottom: 2px solid var(--border-blocks);
  display: flex;
}

.label {
  position: absolute;
  font-family: var(--accent-font), fantasy;
  color: var(--color-label);
  inset-inline-end: 25px;
  inset-block-start: 25px;
  font-size: 14px;
  opacity: 50%;
  line-height: 14px;
  z-index: 1;
  mix-blend-mode: hard-light;
  text-shadow: 1px var(--stroke-label);
}

@supports (
  (text-stroke: 1px var(--stroke-label)) or
    (-webkit-text-stroke: 1px var(--stroke-label))
) {
  .label {
    -webkit-text-stroke: 1px var(--stroke-label);
    text-stroke: 1px var(--stroke-label);
    text-shadow: none;
  }
}

.card__icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon-heart__container {
  display: flex;
  justify-content: end;
  padding-right: 23px;
  padding-bottom: 25px;
}

.card__like-button {
  border: 2px solid var(--border-blocks);
  background: none;
  width: 130px;
  height: 38px;
  cursor: pointer;
}

.button__save {
  border: 2px solid var(--border-blocks);
  width: 335px;
  height: 55px;
  background-color: var(--background-color);
  gap: 8px;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 12.6px;
  font-weight: var(--main-font-weight);
}

.button__all-options {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: transform 0.3s ease;
}

.button__all-options:focus-visible {
  box-shadow: 2px 2px 0 0 var(--border-blocks);
}

.button__all-options::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--border-blocks);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button__all-options:hover::before {
  transform: scaleX(1);
}

.button__text {
  font-family: var(--accent-font), fantasy;
  text-transform: capitalize;
  color: var(--text-like);
  mix-blend-mode: difference;
}

.like-icon {
  margin-top: 2px;
}

.card__icon-button:focus-visible {
  border: 2px solid #000;
  outline: none;
}

.button__all {
  display: flex;
  justify-content: center;
  margin-bottom: 103px;
}

.button__text_last {
  color: var(--text-like);
  mix-blend-mode: difference;
}

.floppy__main {
  color: var(--text-like);
  mix-blend-mode: difference;
}

.floppy__dialog {
  min-width: 39px;
  display: flex;
  align-self: center;
}

.dialog {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--accent-font), fantasy;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: var(--main-font-weight);
  min-width: 357px;
}

.dialog::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

dialog[open] {
  display: flex;
  flex-direction: column;
  max-width: clamp(21.313rem, 20.159rem + 4.923vw, 22.313rem);
  padding: 30px;
}

.dialog__content {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 30px;
}

.dialog__button {
  display: flex;
  justify-content: center;
}

.dialog__ok {
  border: 2px solid var(--border-blocks);
  background-color: transparent;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  min-width: 293px;
  cursor: pointer;
}

.dialog__description {
  min-width: 234px;
}

.filter_grayscale {
  filter: grayscale(80%);
}

.filter_saturate {
  filter: saturate(500%);
}

.filter_hue-rotate {
  filter: hue-rotate(40deg);
}

.filter_invert {
  filter: invert(80%);
}

.filter_sepia {
  filter: sepia(90%);
}

.filter_blur {
  filter: blur(20px);
  overflow: hidden;
}

.filter_different {
  filter: contrast(200%) hue-rotate(30deg) grayscale(50%);
}

@media (width <=375px) {
  .page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    width: 100%;
    padding-top: 117px;
  }

  .header__title {
    padding-top: 2px;
  }

  .main {
    width: 100%;
  }

  .card__opinion {
    min-height: 216px;
  }

  .label {
    inset-inline-end: 10px;
    inset-block-start: 25px;
  }
}
