/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-dark {
    --background-color: #000;
    --main-font-weight: 485;
    --accent-font-weight: 765;
    --font-color: #00CC14;
}

:root.theme-light {
    --background-color: #fff;
    --main-font-weight: 400;
    --accent-font-weight: 700;
    --font-color: #000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #000;
        --main-font-weight: 485;
        --accent-font-weight: 765;
        --font-color: #00CC14;
    }
}