/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-dark {
  --background-color: #000;
  --main-font-weight: 465;
  --accent-font-weight: 785;
  --font-color: #00cc14;
  --heart-contour: #00cc14;
  --background-image: repeating-linear-gradient(
      to right,
      #000 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #000 0px 2px, transparent 2px 4px),
    linear-gradient(to bottom, #007f0c 0.01%, #004306);
  --background-color-blocks: #000;
  --border-blocks: #00cc14;
  --stroke-label: #000;
  --color-label: #00cc14;
  --text-like: #00cc14;
}

:root.theme-light {
  --background-color: #fff;
  --main-font-weight: 400;
  --accent-font-weight: 700;
  --font-color: #000;
  --heart-contour: #000;
  --background-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --background-color-blocks: #fff;
  --border-blocks: #000;
  --stroke-label: #fff;
  --color-label: #000;
  --text-like: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000;
    --main-font-weight: 465;
    --accent-font-weight: 785;
    --font-color: #00cc14;
    --heart-contour: #00cc14;
    --background-image: repeating-linear-gradient(
        to right,
        #000 0px 2px,
        transparent 2px 4px
      ),
      repeating-linear-gradient(to bottom, #000 0px 2px, transparent 2px 4px),
      linear-gradient(to bottom, #007f0c 0.01%, #004306);
    --background-color-blocks: #000;
    --border-blocks: #00cc14;
    --stroke-label: #000;
    --color-label: #00cc14;
    --text-like: #00cc14;
  }
}
