/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --main-font: "Inter-Variable", sans-serif;
    --accent-font: "Press Start 2P";
    --main-font-weight: 400;
    --accent-font-weight: 700;
    --background-color: #fff;
    --font-color: #000;
    --heart-contour: #000;
    --card-font-size: 18px;
    --heart-red: #FF0000;
}